<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MilitaryCamp_1 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,8}</string>
                <key>spriteSourceSize</key>
                <string>{15,8}</string>
                <key>textureRect</key>
                <string>{{217,230},{15,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{433,72},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{433,1},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,78}</string>
                <key>spriteSourceSize</key>
                <string>{70,78}</string>
                <key>textureRect</key>
                <string>{{361,184},{70,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MilitaryCamp_1 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,86}</string>
                <key>spriteSourceSize</key>
                <string>{70,86}</string>
                <key>textureRect</key>
                <string>{{361,96},{70,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{361,1},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,99}</string>
                <key>spriteSourceSize</key>
                <string>{70,99}</string>
                <key>textureRect</key>
                <string>{{289,109},{70,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,106}</string>
                <key>spriteSourceSize</key>
                <string>{70,106}</string>
                <key>textureRect</key>
                <string>{{289,1},{70,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,110}</string>
                <key>spriteSourceSize</key>
                <string>{70,110}</string>
                <key>textureRect</key>
                <string>{{217,118},{70,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,115}</string>
                <key>spriteSourceSize</key>
                <string>{70,115}</string>
                <key>textureRect</key>
                <string>{{217,1},{70,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,119}</string>
                <key>spriteSourceSize</key>
                <string>{70,119}</string>
                <key>textureRect</key>
                <string>{{145,129},{70,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,22}</string>
                <key>spriteSourceSize</key>
                <string>{44,22}</string>
                <key>textureRect</key>
                <string>{{545,35},{44,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MilitaryCamp_1 (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,122}</string>
                <key>spriteSourceSize</key>
                <string>{70,122}</string>
                <key>textureRect</key>
                <string>{{73,130},{70,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,124}</string>
                <key>spriteSourceSize</key>
                <string>{70,124}</string>
                <key>textureRect</key>
                <string>{{1,130},{70,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,126}</string>
                <key>spriteSourceSize</key>
                <string>{70,126}</string>
                <key>textureRect</key>
                <string>{{145,1},{70,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,127}</string>
                <key>spriteSourceSize</key>
                <string>{70,127}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,127}</string>
                <key>spriteSourceSize</key>
                <string>{70,127}</string>
                <key>textureRect</key>
                <string>{{73,1},{70,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,32}</string>
                <key>spriteSourceSize</key>
                <string>{63,32}</string>
                <key>textureRect</key>
                <string>{{505,1},{63,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,37}</string>
                <key>spriteSourceSize</key>
                <string>{70,37}</string>
                <key>textureRect</key>
                <string>{{505,107},{70,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MilitaryCamp_1 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{70,38}</string>
                <key>textureRect</key>
                <string>{{505,35},{70,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MilitaryCamp_1 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{70,42}</string>
                <key>textureRect</key>
                <string>{{289,210},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{493,184},{70,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MilitaryCamp_1 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,48}</string>
                <key>spriteSourceSize</key>
                <string>{70,48}</string>
                <key>textureRect</key>
                <string>{{433,134},{70,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MilitaryCamp_1 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{441,184},{70,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MilitaryCamp.png</string>
            <key>size</key>
            <string>{569,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ad7e5df61a36691a99cbbac656d08dd:37d22b9ab755eed4986f3ea17f9bf1ed:8c75c48ea770ac2c90505c3e93426dee$</string>
            <key>textureFileName</key>
            <string>MilitaryCamp.png</string>
        </dict>
    </dict>
</plist>
