<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mine_1 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.149254,0.513514}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,37}</string>
                <key>spriteSourceSize</key>
                <string>{67,37}</string>
                <key>textureRect</key>
                <string>{{409,409},{67,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.223881,0.588235}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{134,68}</string>
                <key>textureRect</key>
                <string>{{409,1},{134,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mine_1 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.608696}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,69}</string>
                <key>spriteSourceSize</key>
                <string>{134,69}</string>
                <key>textureRect</key>
                <string>{{273,155},{134,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.608696}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,69}</string>
                <key>spriteSourceSize</key>
                <string>{134,69}</string>
                <key>textureRect</key>
                <string>{{137,168},{134,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.608696}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,69}</string>
                <key>spriteSourceSize</key>
                <string>{134,69}</string>
                <key>textureRect</key>
                <string>{{1,274},{134,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.608696}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,69}</string>
                <key>spriteSourceSize</key>
                <string>{134,69}</string>
                <key>textureRect</key>
                <string>{{137,239},{134,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.608696}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,69}</string>
                <key>spriteSourceSize</key>
                <string>{134,69}</string>
                <key>textureRect</key>
                <string>{{273,226},{134,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.608696}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,69}</string>
                <key>spriteSourceSize</key>
                <string>{134,69}</string>
                <key>textureRect</key>
                <string>{{273,297},{134,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.608696}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,69}</string>
                <key>spriteSourceSize</key>
                <string>{134,69}</string>
                <key>textureRect</key>
                <string>{{137,310},{134,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.583333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,72}</string>
                <key>spriteSourceSize</key>
                <string>{134,72}</string>
                <key>textureRect</key>
                <string>{{273,81},{134,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.538462}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{137,88},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.123457,0.590909}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,44}</string>
                <key>spriteSourceSize</key>
                <string>{81,44}</string>
                <key>textureRect</key>
                <string>{{250,438},{81,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.538462}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{273,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.518519}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,81}</string>
                <key>spriteSourceSize</key>
                <string>{134,81}</string>
                <key>textureRect</key>
                <string>{{1,191},{134,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.494118}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,85}</string>
                <key>spriteSourceSize</key>
                <string>{134,85}</string>
                <key>textureRect</key>
                <string>{{137,1},{134,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.466667}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,90}</string>
                <key>spriteSourceSize</key>
                <string>{134,90}</string>
                <key>textureRect</key>
                <string>{{1,99},{134,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.238806,0.4375}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,96}</string>
                <key>spriteSourceSize</key>
                <string>{134,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.0879121,0.6}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,50}</string>
                <key>spriteSourceSize</key>
                <string>{91,50}</string>
                <key>textureRect</key>
                <string>{{198,381},{91,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mine_1 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.150943,0.59322}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,59}</string>
                <key>spriteSourceSize</key>
                <string>{106,59}</string>
                <key>textureRect</key>
                <string>{{137,381},{106,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mine_1 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.223881,0.588235}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{134,68}</string>
                <key>textureRect</key>
                <string>{{409,137},{134,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mine_1 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.223881,0.57971}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,69}</string>
                <key>spriteSourceSize</key>
                <string>{134,69}</string>
                <key>textureRect</key>
                <string>{{1,345},{134,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.223881,0.588235}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{134,68}</string>
                <key>textureRect</key>
                <string>{{409,273},{134,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mine_1 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.223881,0.588235}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{134,68}</string>
                <key>textureRect</key>
                <string>{{1,416},{134,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mine_1 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.223881,0.588235}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{134,68}</string>
                <key>textureRect</key>
                <string>{{273,368},{134,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mine.png</string>
            <key>size</key>
            <string>{478,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a98d2ec992540e1003ecc4693e2d1bf4:3ff3ae2ac24c2cc8544cf45425f9686b:178aaa247ebe7b742b61dd7ae68da929$</string>
            <key>textureFileName</key>
            <string>Mine.png</string>
        </dict>
    </dict>
</plist>
