<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Base_1 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{-0.156627,-0.482759}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,58}</string>
                <key>spriteSourceSize</key>
                <string>{83,58}</string>
                <key>textureRect</key>
                <string>{{156,1086},{83,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{1,292},{153,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{156,311},{153,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Base_1 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{1,382},{153,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{156,466},{153,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Base_1 (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{1,472},{153,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{1,562},{153,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{156,621},{153,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Base_1 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{1,652},{153,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{1,742},{153,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{156,776},{153,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Base_1 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{-0.179487,-0.563636}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,55}</string>
                <key>spriteSourceSize</key>
                <string>{78,55}</string>
                <key>textureRect</key>
                <string>{{151,1211},{78,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{1,832},{153,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{1,922},{153,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,93}</string>
                <key>spriteSourceSize</key>
                <string>{153,93}</string>
                <key>textureRect</key>
                <string>{{156,156},{153,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Base_1 (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,93}</string>
                <key>spriteSourceSize</key>
                <string>{153,93}</string>
                <key>textureRect</key>
                <string>{{1,197},{153,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,96}</string>
                <key>spriteSourceSize</key>
                <string>{153,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,96}</string>
                <key>spriteSourceSize</key>
                <string>{153,96}</string>
                <key>textureRect</key>
                <string>{{156,1},{153,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Base_1 (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,96}</string>
                <key>spriteSourceSize</key>
                <string>{153,96}</string>
                <key>textureRect</key>
                <string>{{1,99},{153,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{-0.287671,-0.327869}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{73,61}</string>
                <key>textureRect</key>
                <string>{{151,1268},{73,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{-0.0485437,-0.126984}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,63}</string>
                <key>spriteSourceSize</key>
                <string>{103,63}</string>
                <key>textureRect</key>
                <string>{{151,1146},{103,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,72}</string>
                <key>spriteSourceSize</key>
                <string>{148,72}</string>
                <key>textureRect</key>
                <string>{{1,1181},{148,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,72}</string>
                <key>spriteSourceSize</key>
                <string>{148,72}</string>
                <key>textureRect</key>
                <string>{{1,1255},{148,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,77}</string>
                <key>spriteSourceSize</key>
                <string>{148,77}</string>
                <key>textureRect</key>
                <string>{{1,1102},{148,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base_1 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{156,931},{153,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Base_1 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,88}</string>
                <key>spriteSourceSize</key>
                <string>{153,88}</string>
                <key>textureRect</key>
                <string>{{1,1012},{153,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Base.png</string>
            <key>size</key>
            <string>{255,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7152e65fda8f280ae01f315a442a044d:043cc6e9bf50749eaf5a569a95585efa:a518995ac90f1a40f1b30b3b9e883af7$</string>
            <key>textureFileName</key>
            <string>Base.png</string>
        </dict>
    </dict>
</plist>
