<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PowerPlant_1 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{-1.19231,-1.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{99,1264},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00775194,-0.00952381}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,105}</string>
                <key>spriteSourceSize</key>
                <string>{129,105}</string>
                <key>textureRect</key>
                <string>{{1,1051},{129,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00757576,-0.00952381}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,105}</string>
                <key>spriteSourceSize</key>
                <string>{132,105}</string>
                <key>textureRect</key>
                <string>{{1,944},{132,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.0075188,-0.00934579}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,107}</string>
                <key>spriteSourceSize</key>
                <string>{133,107}</string>
                <key>textureRect</key>
                <string>{{1,835},{133,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00917431}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,109}</string>
                <key>spriteSourceSize</key>
                <string>{135,109}</string>
                <key>textureRect</key>
                <string>{{1,724},{135,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00892857}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,112}</string>
                <key>spriteSourceSize</key>
                <string>{135,112}</string>
                <key>textureRect</key>
                <string>{{138,686},{135,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PowerPlant_1 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00877193}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,114}</string>
                <key>spriteSourceSize</key>
                <string>{135,114}</string>
                <key>textureRect</key>
                <string>{{1,608},{135,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00869565}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,115}</string>
                <key>spriteSourceSize</key>
                <string>{135,115}</string>
                <key>textureRect</key>
                <string>{{138,549},{135,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PowerPlant_1 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00862069}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,116}</string>
                <key>spriteSourceSize</key>
                <string>{135,116}</string>
                <key>textureRect</key>
                <string>{{138,138},{135,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PowerPlant_1 (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00862069}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,116}</string>
                <key>spriteSourceSize</key>
                <string>{135,116}</string>
                <key>textureRect</key>
                <string>{{138,275},{135,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PowerPlant_1 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00862069}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,116}</string>
                <key>spriteSourceSize</key>
                <string>{135,116}</string>
                <key>textureRect</key>
                <string>{{138,412},{135,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PowerPlant_1 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{-0.0208333,-0.333333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,45}</string>
                <key>spriteSourceSize</key>
                <string>{96,45}</string>
                <key>textureRect</key>
                <string>{{1,1264},{96,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00854701}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,117}</string>
                <key>spriteSourceSize</key>
                <string>{135,117}</string>
                <key>textureRect</key>
                <string>{{138,1},{135,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PowerPlant_1 (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00847458}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,118}</string>
                <key>spriteSourceSize</key>
                <string>{135,118}</string>
                <key>textureRect</key>
                <string>{{1,488},{135,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00840336}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,119}</string>
                <key>spriteSourceSize</key>
                <string>{135,119}</string>
                <key>textureRect</key>
                <string>{{1,367},{135,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00833333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,120}</string>
                <key>spriteSourceSize</key>
                <string>{135,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00833333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,120}</string>
                <key>spriteSourceSize</key>
                <string>{135,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{135,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00740741,-0.00833333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,120}</string>
                <key>spriteSourceSize</key>
                <string>{135,120}</string>
                <key>textureRect</key>
                <string>{{1,245},{135,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.019802,-0.12963}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,54}</string>
                <key>spriteSourceSize</key>
                <string>{101,54}</string>
                <key>textureRect</key>
                <string>{{199,1198},{101,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PowerPlant_1 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00961538,-0.0147059}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,68}</string>
                <key>spriteSourceSize</key>
                <string>{104,68}</string>
                <key>textureRect</key>
                <string>{{129,1198},{104,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PowerPlant_1 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00934579,-0.0125}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,80}</string>
                <key>spriteSourceSize</key>
                <string>{107,80}</string>
                <key>textureRect</key>
                <string>{{135,1013},{107,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00909091,-0.0111111}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{110,90}</string>
                <key>textureRect</key>
                <string>{{138,823},{110,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00840336,-0.0104167}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,96}</string>
                <key>spriteSourceSize</key>
                <string>{119,96}</string>
                <key>textureRect</key>
                <string>{{136,915},{119,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00813008,-0.00990099}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{123,101}</string>
                <key>textureRect</key>
                <string>{{132,1095},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerPlant_1 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.00793651,-0.00961538}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{126,104}</string>
                <key>textureRect</key>
                <string>{{1,1158},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PowerPlant.png</string>
            <key>size</key>
            <string>{256,1310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6321056681708220ba77c2049e4a93e:65bd6d0e5ba067dc3535eb8f0113b343:2ff77255ca6567f9cf214e8d44eabcaf$</string>
            <key>textureFileName</key>
            <string>PowerPlant.png</string>
        </dict>
    </dict>
</plist>
