<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TankFactory_1 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,-1.77778}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,18}</string>
                <key>textureRect</key>
                <string>{{100,1009},{32,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.179487,0.131579}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,76}</string>
                <key>spriteSourceSize</key>
                <string>{117,76}</string>
                <key>textureRect</key>
                <string>{{136,743},{117,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.186441,0.1375}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,80}</string>
                <key>spriteSourceSize</key>
                <string>{118,80}</string>
                <key>textureRect</key>
                <string>{{136,661},{118,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.183206,0.179775}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,89}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{1,918},{131,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.195489,0.172043}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,93}</string>
                <key>spriteSourceSize</key>
                <string>{133,93}</string>
                <key>textureRect</key>
                <string>{{1,633},{133,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.195489,0.172043}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,93}</string>
                <key>spriteSourceSize</key>
                <string>{133,93}</string>
                <key>textureRect</key>
                <string>{{1,728},{133,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.195489,0.182796}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,93}</string>
                <key>spriteSourceSize</key>
                <string>{133,93}</string>
                <key>textureRect</key>
                <string>{{1,823},{133,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.213235,0.193548}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,93}</string>
                <key>spriteSourceSize</key>
                <string>{136,93}</string>
                <key>textureRect</key>
                <string>{{1,538},{136,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.189781,0.222222}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,99}</string>
                <key>spriteSourceSize</key>
                <string>{137,99}</string>
                <key>textureRect</key>
                <string>{{1,437},{137,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.188406,0.217822}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,101}</string>
                <key>spriteSourceSize</key>
                <string>{138,101}</string>
                <key>textureRect</key>
                <string>{{141,394},{138,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TankFactory_1 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.188406,0.213592}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,103}</string>
                <key>spriteSourceSize</key>
                <string>{138,103}</string>
                <key>textureRect</key>
                <string>{{1,332},{138,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.185567,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{1,1009},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.188406,0.207547}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{1,224},{138,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.194245,0.203704}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,108}</string>
                <key>spriteSourceSize</key>
                <string>{139,108}</string>
                <key>textureRect</key>
                <string>{{142,201},{139,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TankFactory_1 (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.194245,0.201835}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,109}</string>
                <key>spriteSourceSize</key>
                <string>{139,109}</string>
                <key>textureRect</key>
                <string>{{1,113},{139,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.2,0.2}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.2,0.2}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,110}</string>
                <key>textureRect</key>
                <string>{{143,1},{140,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TankFactory_1 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.179245,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,50}</string>
                <key>spriteSourceSize</key>
                <string>{106,50}</string>
                <key>textureRect</key>
                <string>{{141,342},{106,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.169643,0.0714286}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,56}</string>
                <key>spriteSourceSize</key>
                <string>{112,56}</string>
                <key>textureRect</key>
                <string>{{142,143},{112,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.166667,0.0833333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,60}</string>
                <key>spriteSourceSize</key>
                <string>{114,60}</string>
                <key>textureRect</key>
                <string>{{140,534},{114,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.173913,0.0952381}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,63}</string>
                <key>spriteSourceSize</key>
                <string>{115,63}</string>
                <key>textureRect</key>
                <string>{{139,596},{115,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.172414,0.104478}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,67}</string>
                <key>spriteSourceSize</key>
                <string>{116,67}</string>
                <key>textureRect</key>
                <string>{{134,968},{116,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.179487,0.114286}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,70}</string>
                <key>spriteSourceSize</key>
                <string>{117,70}</string>
                <key>textureRect</key>
                <string>{{136,821},{117,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TankFactory_1 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.172414,0.123288}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,73}</string>
                <key>spriteSourceSize</key>
                <string>{116,73}</string>
                <key>textureRect</key>
                <string>{{136,893},{116,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TankFactory.png</string>
            <key>size</key>
            <string>{255,1060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd158eb2efbefa04ae1eedb22ff1fb3:ceff453c84b0c18563b1a19bc9813695:8c75c48ea770ac2c90505c3e93426dee$</string>
            <key>textureFileName</key>
            <string>TankFactory.png</string>
        </dict>
    </dict>
</plist>
