<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sounds</key>
	<array>
		<string>audio\unitready.wav</string>
		<string>audio\insufficientfound.wav</string>
		<string>audio\traning.wav</string>
		<string>audio\die.wav</string>
		<string>audio\bomb.wav</string>
		<string>audio\selecttarget.wav</string>
		<string>audio\nopower.wav</string>
	</array>
	<key>SpriteSheets</key>
	<array>
	</array>
	<key>Animotions</key>
	<array>
		<string>Picture\plist\Mine.plist</string>
		<string>Picture\plist\Base.plist</string>
		<string>Picture\plist\PowerPlant.plist</string>		
		<string>Picture\plist\TankFactory.plist</string>
		<string>Picture\plist\MilitaryCamp.plist</string>
		<string>Picture\plist\DogMove.plist</string>
	</array>
	<key>Musics</key>
	<array>
		<string>audio\SovietMarch.mp3</string>
	</array>
</dict>
</plist>
