<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sounds</key>
	<array>
		<string>unitready.wav</string>
		<string>insufficientfound.wav</string>
		<string>traning.wav</string>
	</array>
	<key>SpriteSheets</key>
	<array>
	</array>
	<key>Animotions</key>
	<array>
		<string>Mine.plist</string>
		<string>Base.plist</string>
		<string>PowerPlant.plist</string>		
		<string>TankFactory.plist</string>
		<string>MilitaryCamp.plist</string>
	</array>
	<key>Musics</key>
	<array>
		<string>SovietMarch.mp3</string>
	</array>
</dict>
</plist>
